{% extends '/base.html.twig' %}

{% block main %}
    {#<form action="{{ path('admin-insert-article') }}" method="get">
        <label for="title">Titre</label>
        <input type="text" name="title">

        <label for="content">Description</label>
        <input type="text" name="content">

        <label for="author">Auteur</label>
        <input type="text" name="author">

        <label for="submit">Envoyer</label>
        <input type="submit">
    </form>#}

   {# {{ form(form) }} #}

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.title, 'Titre', {'label_attr': {'class': 'form-article-title-label'}}) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.title) }}
        </div>
        <div class="form-group">
            {{ form_label(form.content, 'Contenu', {'label_attr': {'class': 'form-article-content-label'}}) }}
            {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.content) }}

        </div>
        <div class="form-group">
            {{ form_label(form.isPublished, 'Publier', {'label_attr': {'class': 'form-article-ispublished-label'}}) }}
            {{ form_widget(form.isPublished, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.category,'Categorie', {'label_attr': {'class': 'form-article-ispublished-label'}}) }}
            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.category) }}

        </div>

        <div class="form-group">
            {{ form_label(form.author,'Auteur', {'label_attr': {'class': 'form-article-author-label'}}) }}
            {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.author) }}
        </div>

        <div class="form-group">
            {{ form_label(form.image) }}
            {{ form_widget(form.image) }}
            {{ form_errors(form.image) }}

        </div>


        {{ form_widget(form.submit) }}
    {{ form_end(form) }}


{% endblock %}
{% block footer %}
    <p>Je suis le footer de la page de création d'article</p>
{% endblock %}