{% extends 'admin/base.html.twig' %}

{% block main %}

{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.title, 'Titre', {'label_attr': {'class': 'form-article.html.twig-title-label'}}) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.title) }}
    </div>
    <div class="form-group">
        {{ form_label(form.content, 'Contenu', {'label_attr': {'class': 'form-article.html.twig-content-label'}}) }}
        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.content) }}

    </div>
    <div class="form-group">
        {{ form_label(form.isPublished, 'Publier', {'label_attr': {'class': 'form-article.html.twig-ispublished-label'}}) }}
        {{ form_widget(form.isPublished, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.category,'Categorie', {'label_attr': {'class': 'form-article.html.twig-ispublished-label'}}) }}
        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.category) }}

    </div>

    <div class="form-group">
        {{ form_label(form.author,'Auteur', {'label_attr': {'class': 'form-article.html.twig-author-label'}}) }}
        {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.author) }}
    </div>

    <div class="form-group">
        {{ form_label(form.image) }}
        {{ form_widget(form.image) }}
        {{ form_errors(form.image) }}
        {% if article.image %}
            <img class="article-img" src="{{ asset('uploads/images/'~ article.image) }}" alt="{{ article.title }}">
        {% endif %}
    </div>


    {{ form_widget(form.submit) }}
{{ form_end(form) }}

{% endblock %}
{% block footer %}
    <p>Je suis le footer de la page de MAJ d'article</p>
{% endblock %}